<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
</head>

<body>
    <div class="container py-3">
        <div class="row py-3">
            <div class="col-lg-6 py-3">
                <img src="/assets/grand-budapest-hotel.avif" class="img-fluid"
                    alt="https://www.criterion.com/current/posts/7925-steven-spielbergs-the-fabelmans">
            </div>
            <div class="col-lg-6 px-lg-5 py-3 main-text">
                <h1 class="fw-bold">Become a Member</h1>
                <p>Join our movie community and gain access to exclusive content, reviews, and discussions. Be the first
                    to know about upcoming releases and never miss a blockbuster again. Sign up now and let's share our
                    love for cinema together!</p>
            </div>
        </div>
        <div class="row py-lg-3">
            <div class="col-lg-6 col-md-6">
                <div class="card main-form card-bot px-3 py-3">
                    <div class="card-body">
                        <h2>Already a Member? Login here</h2>
                        <form [formGroup]="loginForm" (ngSubmit)="processLoginForm()">
                            <div class="mb-3">
                                <label for="loginEmail" class="form-label">Email</label>
                                <input type="email" class="form-control" id="loginEmail" formControlName="loginEmail">
                                <div id="loginEmailHelp" class="form-text fst-italic">
                                    <a [routerLink]="[]" class="fw-lighter action" (click)="useTest()">
                                        <img src="/assets/info.svg" class="mb-1"> Click to try a sample account
                                    </a>
                                </div>
                            </div>
                            <div class="mb-3">
                                <label for="loginPassword" class="form-label">Password</label>
                                <input type="password" class="form-control" id="loginPassword"
                                    formControlName="loginPassword">
                            </div>
                            <button type="submit" class="btn btn-dark" [disabled]="loginForm.invalid">Login</button>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="card main-form card-bot px-3 py-3 mt-lg-0 mt-md-0 mt-5 mb-lg-0 mt-md-0 mb-4">
                    <div class="card-body">
                        <h2>Not yet registered? Create a new account</h2>
                        <form [formGroup]="registrationForm" (ngSubmit)="processRegistrationForm()">
                            <div class="mb-3">
                                <label for="username" class="form-label">Username &#42;</label>
                                <input type="text" class="form-control" id="username" aria-describedby="usernameHelp"
                                    formControlName="username">
                                <div id="usernameHelp" class="form-text">Your username must be at least 4 characters
                                    long.
                                </div>
                            </div>
                            <div class="mb-3">
                                <label for="email" class="form-label">Email address &#42;</label>
                                <input type="email" class="form-control" id="email" aria-describedby="emailHelp"
                                    formControlName="email">
                                <div id="emailHelp" class="form-text">We'll never share your email with anyone else.
                                </div>
                            </div>
                            <div class="mb-3">
                                <label for="password" class="form-label">Password &#42;</label>
                                <input type="password" class="form-control" id="password" formControlName="password">
                                <div id="passwordHelpBlock" class="form-text">
                                    Your password must be 8-20 characters long, and must not contain spaces, special
                                    characters, or emoji.
                                </div>
                            </div>
                            <div class="mb-3">
                                <label for="file" class="form-label">Profile picture &#42;</label>
                                <input type="file" class="form-control" accept="image/*" formControlName="myfile"
                                    #myfile>
                                <div id="profilePicturedHelpBlock" class="form-text">
                                    Upload a favourite picture of yours.
                                </div>
                            </div>
                            <button type="submit" class="btn btn-dark" [disabled]="registrationForm.invalid">Create
                                Account</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>