.main-text {
    font-size: larger;
    align-self: center;
    height: fit-content;
}

.main-form {
    background-color: #f8f9fa;
    border-color: white;
    border-radius: 0;
}

.card-bot {
    box-shadow: rgb(120 61 246) 0px 5px 0px;
}

.action {
    font-size: 0.8rem;
    color: black;
    text-decoration: none;
}